/* colorpallet http://paletton.com/#uid=55q0M0kllllaFw0g0qFqFg0w0aF */
* {
  box-sizing: border-box; 
}


body {
  background-color: #FFD4AA;
}

.container {
  background-color: #BF607B;
  margin: 24px;
}

.box {
  background-color: #993350;
  border: 1px solid #73132E;
  color: #E699AF;
  padding: 3px;
}

.margins {
  margin: 24px;
}
