/* colorpallet http://paletton.com/#uid=55q0M0kllllaFw0g0qFqFg0w0aF */
* {
  box-sizing: border-box; 
}


body {
  background-color: #FFD4AA;
  color: #230339;
  padding: 24px;
}

.container {
  background-color: #BF607B;
  margin: 24px 0;
}

.container--short {
  height: 100px;
}

.container--tall {
  height: 400px;
}

.box {
  background-color: #993350;
  border: 1px solid #73132E;
  /*color: #E699AF;*/
  color: rgba(255,255,255,0.7);
  padding: 3px;
}

.box--narrow {
  max-width: 200px;
}

.margins {
  margin: 24px;
}

.large {
  font-size: 24px;
}

.huge {
  font-size: 36px;
}
