/*---
title:    flex-direction
section:  Flex container
---

`flex-direction` modifiers can be used to change the direction of flex items
within the `.flex` container.

```example:html
<div class="flex flex--row-reverse">
  <div>1st item</div>
  <div>2nd item</div>
</div>
```

*/

@import "settings.css";

@define-mixin direction $resp {
  .flex--row$(resp) {
    flex-direction: row;
  }

  .flex--row-reverse$(resp) {
    flex-direction: row-reverse;
  }

  .flex--column$(resp) {
    flex-direction: column;
  }

  .flex--column-reverse$(resp) {
    flex-direction: column-reverse;
  }
}

@mixin direction {}

@media (--sm-viewport) {
  @mixin direction \@sm {}
}

@media (--md-viewport) {
  @mixin direction \@md {}
}

@media (--lg-viewport) {
  @mixin direction \@lg {}
}
