/*---
title:    justify-content
section:  Flex container
---

`justify-content` modifiers set where remaining space should be distributed
among flex items in a `.flex` container.

| class            | property                           |
| ---              | ---                                |
| `.flex--start`   | `justify-content: flex-start; `    |
| `.flex--end`     | `justify-content: flex-end; `      |
| `.flex--center`  | `justify-content: center; `        |
| `.flex--around`  | `justify-content: space-around; `  |
| `.flex--between` | `justify-content: space-between; ` |

```example:html
<div class="flex flex--around">
  <div class="u-fb1x">1x</div>
  <div class="u-fb1x">1x</div>
</div>
```

*/
@define-mixin justify-content $resp {
  .flex--start$(resp) {
    justify-content: flex-start; 
  }

  .flex--end$(resp) {
    justify-content: flex-end;
  }

  .flex--center$(resp) {
    justify-content: center;
  }

  .flex--around$(resp) {
    justify-content: space-around;
  }

  .flex--between$(resp) {
    justify-content: space-between;
  }
}

@mixin justify-content {}

@media (--sm-viewport) {
  @mixin justify-content \@sm {}
}

@media (--md-viewport) {
  @mixin justify-content \@md {}
}

@media (--lg-viewport) {
  @mixin justify-content \@lg {}
}
