/* flexbox flex-wrap modifier */
@define-mixin wrap $resp {
  .flex--wrap$(resp) {
    flex-wrap: wrap;
  }

  .flex--nowrap$(resp) {
    flex-wrap: nowrap;
  }

  .flex--wrap-reverse$(resp) {
    flex-wrap: wrap-reverse;
  }
}

@mixin wrap {}

@media (--sm-viewport) {
  @mixin wrap \@sm {}
}

@media (--md-viewport) {
  @mixin wrap \@md {}
}

@media (--lg-viewport) {
  @mixin wrap \@lg {}
}
