/* Flexbox cross axis align-items modifiers */
@define-mixin align-items $resp {
  .flex--ai-start$(resp) {
    align-items: flex-start;
  }

  .flex--ai-end$(resp) {
    align-items: flex-end;
  }

  .flex--ai-center$(resp) {
    align-items: center;
  }

  .flex--ai-baseline$(resp) {
    align-items: baseline;
  }

  .flex--ai-stretch$(resp) {
    align-items: stretch;
  }
}

@mixin align-items {}

@media (--sm-viewport) {
  @mixin align-items \@sm {}
}

@media (--md-viewport) {
  @mixin align-items \@md {}
}

@media (--lg-viewport) {
  @mixin align-items \@lg {}
}
