/* flexbox flex-direction modifiers */
@define-mixin direction $resp {
  .flex--row$(resp) {
    flex-direction: row;
  }

  .flex--row-reverse$(resp) {
    flex-direction: row-reverse;
  }

  .flex--column$(resp) {
    flex-direction: column;
  }

  .flex--column-reverse$(resp) {
    flex-direction: column-reverse;
  }
}

@mixin direction {}

@media (--sm-viewport) {
  @mixin direction \@sm {}
}

@media (--md-viewport) {
  @mixin direction \@md {}
}

@media (--lg-viewport) {
  @mixin direction \@lg {}
}
