/*---
title:    grow
section:  Flex items
---

Use grow utility classes to change the grow of a flex item from `0` to `8`.
E.g. `.u-fg5` sets `flex-grow: 5;`

```example:html
<div class="flex">
  <div class="u-fg1 u-fb1x">Grow 1</div>
  <div class="u-fg2 u-fb1x">Grow 2</div>
  <div class="u-fg4 u-fb1x">Grow 4</div>
  <div class="u-fg8 u-fb1x">Grow 8</div>
</div>
```

*/

@define-mixin grow $resp {
  @for $i from 0 to 8 {
    .u-fg$(i)$(resp) {
      flex-grow: $i;
    }
  }
}

@mixin grow {}

@media (--sm-viewport) {
  @mixin grow \@sm {}
}

@media (--md-viewport) {
  @mixin grow \@md {}
}

@media (--lg-viewport) {
  @mixin grow \@lg {}
}
