/*---
title:    shrink
section:  Flex items
---

Flex items have a default of `shrink: 0`, you can change that with the
shrink utility classes. You can set shrink from `0` to `8`.

```example:html
<div class="flex">
  <div class="u-fs1 u-fb3x">Shrink 1</div>
  <div class="u-fs2 u-fb3x">Shrink 2</div>
  <div class="u-fs4 u-fb3x">Shrink 4</div>
  <div class="u-fs8 u-fb3x">Shrink 8</div>
</div>
```

*/

@import "settings.css";

@define-mixin shrink $resp {
  @for $i from 0 to 8 {
    .u-fs$(i)$(resp) {
      flex-shrink: $i;
    }
  }
}

@mixin shrink {}

@media (--sm-viewport) {
  @mixin shrink \@sm {}
}

@media (--md-viewport) {
  @mixin shrink \@md {}
}

@media (--lg-viewport) {
  @mixin shrink \@lg {}
}
