/**
 * grow modifiers (grow 0 through 8)
 * e.g. use .u-fg3 to set flex-grow: 3
 */
@for $i from 0 to 8 {
  .u-fg$(i) {
    flex-grow: $i;
  }
}

@media (--sm-viewport) {
  @for $i from 0 to 8 {
    .u-fg$(i)\@sm {
      flex-grow: $i;
    }
  }
}

@media (--md-viewport) {
  @for $i from 0 to 8 {
    .u-fg$(i)\@md {
      flex-grow: $i;
    }
  }
}

@media (--lg-viewport) {
  @for $i from 0 to 8 {
    .u-fg$(i)\@lg {
      flex-grow: $i;
    }
  }
}
