/** Flexbox item properties and modifiers */

/**
 * grow modifiers (grow 0 through 8)
 * e.g. use .flex__item--g3 to set flex-grow: 3
 */
@for $i from 0 to 8 {
  .flex__item--g$(i) {
    flex-grow: $i;
  }
}

/**
 * shrink modifiers (shrink 0 through 8)
 * e.g. use .flex__item-s1 to set flex-shrink: 1
 */
@for $i from 0 to 8 {
  .flex__item--s$(i) {
    flex-shrink: $i;
  }
}

/**
 * basis multiple modifiers
 *
 * sets basis width as a multiple of the base unit (default 96px)
 * e.g. use .flex__item-b3x to set flex-basis: 288px; // 96px * 3
 */
@for $i from 1 to 12 {
  .u-fb$(i)x {
    flex-basis: calc($muscles_base_basis * $i);
  }

  .flex--gutter > .u-fb$(i)x {
    flex-basis: calc($muscles_base_basis * $i - $muscles_base_gutter); 
  }
}

@for $i from 1 to 12 {
  .u-fb$(i)\/12 {
    flex-basis: calc(100% * $i / 12);
  }

  .flex--gutter > .u-fb$(i)\/12 {
    flex-basis: calc(100% * $i / 12 - $muscles_base_gutter); 
  }
}

@for $i from 1 to 6 {
  .u-fb$(i)\/6 {
    flex-basis: calc(100% * $i / 6);
  }

  .flex--gutter > .u-fb$(i)\/6 {
    flex-basis: calc(100% * $i / 6 - $muscles_base_gutter); 
  }
}

@for $i from 1 to 4 {
  .u-fb$(i)\/4 {
    flex-basis: calc(100% * $i / 4);
  }

  .flex--gutter > .u-fb$(i)\/4 {
    flex-basis: calc(100% * $i / 4 - $muscles_base_gutter); 
  }
}

@for $i from 1 to 3 {
  .u-fb$(i)\/3 {
    flex-basis: calc(100% * $i / 3);
  }

  .flex--gutter > .u-fb$(i)\/3 {
    flex-basis: calc(100% * $i / 3 - $muscles_base_gutter); 
  }
}

@for $i from 1 to 2 {
  .u-fb$(i)\/2 {
    flex-basis: calc(100% * $i / 2);
  }

  .flex--gutter > .u-fb$(i)\/2 {
    flex-basis: calc(100% * $i / 2 - $muscles_base_gutter); 
  }
}

/* width .u-wNx */
@for $i from 1 to 12 {
  .u-w$(i)x {
    width: calc($muscles_base_basis * $i); 
  }

  .u-h$(i)x {
    height: calc($muscles_base_basis * $i); 
  }
}

/* max-width .u-w<Nx (width is less than Nx) */
@for $i from 1 to 12 {
  .u-w\<$(i)x {
    max-width: calc($muscles_base_basis * $i); 
  }

  .u-h\<$(i)x {
    max-height: calc($muscles_base_basis * $i); 
  }
}

/* min-width .u-w>Nx (width is greater than Nx) */
@for $i from 1 to 12 {
  .u-w\>$(i)x {
    min-width: calc($muscles_base_basis * $i); 
  }

  .u-h\>$(i)x {
    min-height: calc($muscles_base_basis * $i); 
  }
}



/**
 * order modifiers
 */
@for $i from 0 to 10 {
  .flex__item--o$(i) {
    order: $i; 
  }
}

@for $i from 1 to 10 {
  .flex__item--o$(i)- {
    order: -$(i); 
  }
}
