/** Flexbox item align-self modifier */
.u-as-start {
  align-self: flex-start;
}

.u-as-end {
  align-self: flex-end;
}

.u-as-center {
  align-self: center;
}

.u-as-baseline {
  align-self: baseline;
}

.u-as-stretch {
  align-self: stretch;
}
