/* width .u-wNx */
@define-mixin widthMultiple $resp {
  @for $i from 1 to 12 {
    .u-w$(i)x$(resp) {
      width: calc($muscles_base_basis * $i); 
    }

    .u-h$(i)x$(resp) {
      height: calc($muscles_base_basis * $i); 
    }
  }

  /* max-width .u-w<Nx (width is less than Nx) */
  @for $i from 1 to 12 {
    .u-max-w$(i)x$(resp) {
      max-width: calc($muscles_base_basis * $i); 
    }

    .u-max-h$(i)x$(resp) {
      max-height: calc($muscles_base_basis * $i); 
    }
  }

  /* min-width .u-w>Nx (width is greater than Nx) */
  @for $i from 1 to 12 {
    .u-min-w$(i)x$(resp) {
      min-width: calc($muscles_base_basis * $i); 
    }

    .u-min-h$(i)x$(resp) {
      min-height: calc($muscles_base_basis * $i); 
    }
  }
}

@mixin widthMultiple {}

@media (--sm-viewport) {
  @mixin widthMultiple \@sm {}
}

@media (--md-viewport) {
  @mixin widthMultiple \@md {}
}

@media (--lg-viewport) {
  @mixin widthMultiple \@lg {}
}
