/** Flexbox item align-self modifier */
@define-mixin align-self $resp {
  .u-as-start$(resp) {
    align-self: flex-start;
  }

  .u-as-end$(resp) {
    align-self: flex-end;
  }

  .u-as-center$(resp) {
    align-self: center;
  }

  .u-as-baseline$(resp) {
    align-self: baseline;
  }

  .u-as-stretch$(resp) {
    align-self: stretch;
  }
}

@mixin align-self {

}

@media(--sm-viewport) {
  @mixin align-self \@sm {

  }
}

@media (--md-viewport) {
  @mixin align-self \@md {
  }
}

@media (--lg-viewport) {
  @mixin align-self \@lg {
  }
}
